# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# work day
dist-ssr
*.local

# finish result
/src
/pages
.gitignore
/index.html
/main.js
/package-lock.json
/package.json
/style.scss
/vite.config.js


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
